{% extends 'base.html' %}
{% load static %}


{% block content %}

<!--banner-->
<div class="banner clearfix"></div>
{% comment %} <div class="page-top clearfix">
    <div class="container">
        <!--page main heading-->
        <h1 class="entry-title">3 Columns Gallery</h1>
        <nav class="bread-crumb">
            <ul class="breadcrumb clearfix"><li><a href="#">Medical Press</a><span class="divider"></span></li>
                <li class="active">3 Columns Gallery</li></ul>
        </nav>
    </div>

</div> {% endcomment %}

<div class="gallery-page clearfix">
    <div class="container">
        <div class="blog-page-single clearfix">
            <article class="page hentry clearfix">
                <div class="full-width-contents">
                    <div class="entry-content">
                    </div>
                </div>
            </article>
        </div>
        <!--fliter-->
        <ul id="filters">
            <li class="active"><a href="#" data-filter="*">All</a></li>
            <li><a href="#" data-filter=".advanced-technology">Advanced Technology</a></li>
            <li><a href="#" data-filter=".free-facilities">Free Facilities</a></li>
            <li><a href="#" data-filter=".health-counseling">Health Counseling</a></li>
            <li><a href="#" data-filter=".kids-care">Kids Care</a></li>
            <li><a href="#" data-filter=".patient-care">Patient Care</a></li>
            <li><a href="#" data-filter=".pharmaceutical-care">Pharmaceutical Care</a></li>
            <li><a href="#" data-filter=".professional-staff">Professional Staff</a></li>
        </ul>
    </div>

    <div class="container isotope-wrapper text-center">
        <div class="row">
            <div id="isotope-container" class="clearfix">
                <!--column start-->
                <div class="isotope-item advanced-technology free-facilities col-md-4 col-sm-6 ">
                    <article class="common clearfix hentry ">
                        <figure class="overlay-effect">
                            <a href="{% static 'images/temp-images/gallery-11.jpg' %}" title="Medical Record Keeping">
                                <img src="{% static 'images/temp-images/gallery-11-670x500.jpg' %}"  alt="gallery-1" />
                            </a>
                            <a class="overlay" href="{% static 'images/temp-images/gallery-11.jpg' %}"></a>
                        </figure>
                        <div class="content clearfix">
                            <h4><a href="">Medical Record Keeping</a></h4>

                            <div class="gallery-item-types">
                                <a href="#">Advanced Technology</a>,
                                <a href="#">Free Facilities</a>
                            </div>
                        </div>
                    </article>
                </div>
                <!--column end-->

                <!--column start-->
                <div class="isotope-item free-facilities patient-care col-md-4 col-sm-6 ">
                    <article class="common clearfix hentry ">
                        <figure class="overlay-effect">
                            <a href="{% static 'images/temp-images/gallery-41.jpg' %}" title="Blood Pressure Checkup">
                                <img src="{% static 'images/temp-images/gallery-41-670x500.jpg' %}"  alt="gallery-4" />
                            </a>
                            <a class="overlay" href="{% static 'images/temp-images/gallery-41.jpg' %}"></a>
                        </figure>
                        <div class="content clearfix">
                            <h4><a href="">Blood Pressure Checkup</a></h4>

                            <div class="gallery-item-types">
                                <a href="#">Free Facilities</a>,
                                <a href="#">Patient Care</a>
                            </div>
                        </div>
                    </article>
                </div>
                <!--column end-->

                <!--column start-->
                <div class="isotope-item health-counseling kids-care professional-staff col-md-4 col-sm-6 ">
                    <article class="common clearfix hentry ">
                        <figure class="overlay-effect">
                            <a href="{% static 'images/temp-images/gallery-31.jpg' %}" title="Kids Treatment">
                                <img src="{% static 'images/temp-images/gallery-31-670x500.jpg' %}" alt="gallery-3" />
                            </a>
                            <a class="overlay" href="{% static 'images/temp-images/gallery-31.jpg' %}"></a>
                        </figure>
                        <div class="content clearfix">
                            <h4><a href="">Kids Treatment</a></h4>

                            <div class="gallery-item-types">
                                <a href="#">Health Counseling</a>,
                                <a href="#">Kids Care</a>,
                                <a href="#">Professional Staff</a>
                            </div>
                        </div>
                    </article>
                </div>
                <!--column end-->

                <!--column start-->
                <div class="isotope-item health-counseling patient-care col-md-4 col-sm-6 ">
                    <article class="common clearfix hentry ">
                        <figure class="overlay-effect">
                            <a href="{% static 'images/temp-images/gallery-5.jpg' %}" title="Health Counseling">
                                <img  src="{% static 'images/temp-images/gallery-5-670x500.jpg' %}"  alt="gallery-5" />
                            </a>
                            <a class="overlay" href="{% static 'images/temp-images/gallery-5.jpg' %}"></a>
                        </figure>
                        <div class="content clearfix">
                            <h4><a href="">Health Counseling</a></h4>

                            <div class="gallery-item-types">
                                <a href="#">Health Counseling</a>,
                                <a href="#">Patient Care</a>
                            </div>
                        </div>
                    </article>
                </div>
                <!--column end-->

                <!--column start-->
                <div class="isotope-item advanced-technology pharmaceutical-care col-md-4 col-sm-6 ">
                    <article class="common clearfix hentry ">
                        <figure class="overlay-effect">
                            <a href="{% static 'images/temp-images/gallery-6.jpg' %}" title="Advanced Lab">
                                <img  src="{% static 'images/temp-images/gallery-6-670x500.jpg' %}"  alt="gallery-6" />
                            </a>
                            <a class="overlay" href="{% static 'images/temp-images/gallery-6.jpg' %}"></a>
                        </figure>
                        <div class="content clearfix">
                            <h4><a href="">Advanced Lab</a></h4>

                            <div class="gallery-item-types">
                                <a href="#">Advanced Technology</a>,
                                <a href="#">Pharmaceutical Care</a>
                            </div>
                        </div>
                    </article>
                </div>
                <!--column end-->

                <!--column start-->
                <div class="isotope-item patient-care professional-staff col-md-4 col-sm-6 ">
                    <article class="common clearfix hentry ">
                        <figure class="overlay-effect">
                            <a href="{% static 'images/temp-images/gallery-7.jpg' %}" title="Well Trained Staff">
                                <img src="{% static 'images/temp-images/gallery-7-670x500.jpg' %}" alt="gallery-7" />
                            </a>
                            <a class="overlay" href="{% static 'images/temp-images/gallery-7.jpg' %}"></a>
                        </figure>
                        <div class="content clearfix">
                            <h4><a href="">Well Trained Staff</a></h4>

                            <div class="gallery-item-types">
                                <a href="#">Patient Care</a>,
                                <a href="#">Professional Staff</a>
                            </div>
                        </div>
                    </article>
                </div>
                <!--column end-->
            </div>
        </div>
    </div>
</div>



{% endblock %}