{% extends 'base.html' %}
{% load static %}


{% block content %}
<!--banner-->
<div class="banner clearfix"></div>
{% comment %} <div class=" page-top clearfix">
    <div class="container">
        <!--page main heading-->
        <h1 class="entry-title">1 Column Services</h1>
        <nav class="bread-crumb">
            <ul class="breadcrumb clearfix">
                <li><a href="#">Medical Press</a><span class="divider"></span></li>
                <li class="active">1 Column Services</li>
            </ul>
        </nav>
    </div>
</div> {% endcomment %}

<div class="services-page clearfix">
    <div class="container">
        <!--column start-->
        <article class="service type-service hentry row one-col-service">
            <div class="col-lg-6 col-md-7">
                <figure>
                    <a href="" title="Dental Implants">
                        <img src="{% static 'images/temp-images/service-3-570x250.jpg' %}" alt="Dental Implants" />
                    </a>
                </figure>
            </div>
            <div class="col-lg-6 col-md-5">
                <div class="service-contents">
                    <h3 class="entry-title"><a href="">Dental Implants</a></h3>
                    <div class="entry-content">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl&hellip;</p>
                    </div>
                    <a class="read-more" href="">Read More</a>
                </div>
            </div>
        </article>
        <!--column end-->

        <!--column start-->
        <article class="service type-service hentry row one-col-service">
            <div class="col-lg-6 col-md-7">
                <figure>
                    <a href="" title="Blood Bank">
                        <img src="{% static 'images/temp-images/service-2-570x250.jpg' %}" alt="Blood Bank" />
                    </a>
                </figure>
            </div>
            <div class="col-lg-6 col-md-5">
                <div class="service-contents">
                    <h3 class="entry-title"><a href="">Blood Bank</a></h3>
                    <div class="entry-content">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl&hellip;</p>
                    </div>
                    <a class="read-more" href="">Read More</a>
                </div>
            </div>
        </article>
        <!--column end-->

        <!--column start-->
        <article class="service type-service hentry row one-col-service">
            <div class="col-lg-6 col-md-7">
                <figure>
                    <a href="" title="Medicine Research">
                        <img src="{% static 'images/temp-images/service-5-570x250.jpg' %}"  alt="Medicine Research" />
                    </a>
                </figure>
            </div>
            <div class="col-lg-6 col-md-5">
                <div class="service-contents">
                    <h3 class="entry-title"><a href="">Medicine Research</a></h3>
                    <div class="entry-content">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl&hellip;</p>
                    </div>
                    <a class="read-more" href="">Read More</a>
                </div>
            </div>
        </article>
        <!--column end-->

        <!--column start-->
        <article class="service type-service hentry row one-col-service">
            <div class="col-lg-6 col-md-7">
                <figure>
                    <a href="" title="Pharmaceutical Advice">
                        <img src="{% static 'images/temp-images/service-4-570x250.jpg' %}" alt="Pharmaceutical Advice" />
                    </a>
                </figure>
            </div>
            <div class="col-lg-6 col-md-5">
                <div class="service-contents">
                    <h3 class="entry-title"><a href="">Pharmaceutical Advice</a></h3>
                    <div class="entry-content">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl&hellip;</p>
                    </div>
                    <a class="read-more" href="">Read More</a>
                </div>
            </div>
        </article>
        <!--column end-->

        <!--pagination-->
        <div class='pagination'><span class='page-numbers current'>1</span>
            <a class='page-numbers' href='#'>2</a>
            <a class="next page-numbers" href="#"> > </a>
        </div>
    </div>
</div>

{% endblock %}